@tailwind base;
@tailwind components;
@tailwind utilities;

.page-item.active .page-link {
    background-color: #e61e4d;
    border-color: #e61e4d;
    color: #fff;
  }
  
  .page-item.active .page-link:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .pagination .page-link {
    color: #e61e4d;
  }
  
  .pagination .page-link:hover {
    color: #e61e4d;
  }

  .custom-datepicker {
    width: 100%; /* Ensure full width inside the card */
    max-width: 350px; /* Set a reasonable max width */
    margin: 0 auto; /* Center the calendar */
  }
  